<div class="w-1/4 mb-10 px-5 overflow-hidden">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2" style="background-image: url({{room.first_photo}}) ;"></div>
        <div class="flex justify-between mb-1  truncate">
            <div class="w-4/5 overflow-hidden flex">
                
                {% if room.host.superhost %}
                    <span class="uppercase font-medium text-xs border border-black rounded justify-center mb-4 py-px px-1 ">superhost </span>                
                {% endif %}
                <div class=" text-gray-600 pl-2 text-sm block truncate " >
                    <span>{{room.city}},&nbsp;{{room.country.name}}</span>
                </div> 
            </div>
            <div class="flex">
                <div class=""><i class="text-red-500 fa-sharp fa-solid fa-star text-xs mr-1 truncate"></i></div>
                <span class="text-xs">{{room.total_rating}}</span>
            </div>
        </div>
        <span class="text-black w-11/12 block truncate">{{room.name}}</span>
        <span class="pt-4 rounded-md text-lg font-normal"> ${{room.price}}</span>
    </a>
</div>