{% extends "base.html" %} 
{% block page_name %} 
    {{room.name}} 
{% endblock page_name %} 

{% block content %}
    <div class="-mt-5 container max-w-full h-96 flex mb-10">
        <div class="h-full w-1/2 bg-cover bg-center" style="background-image: url({{room.first_photo}});"></div>
        <div class="h-full w-1/2 flex flex-wrap">
           
           {% for photo in room.get_next_four_photos %}
                <div style="background-image: url({{photo.file.url}})" class=" border border-gray-300 w-1/2 h-auto bg-cover bg-center"></div>
           {% endfor %}
             
        </div>    
    </div>     
    
    <div class="container mx-auto flex justify-around pb-56" >
        <div class="w-1/2" >
            <div class="flex justify-between">
                <div class="mb-5">
                    <h4 class="text-xl font-normal mb-px">{{room.name}}</h4>
                    <span class="text-gray-700 font-light" >{{room.city}}</span>
                </div>
                <div>
                <a href="{{room.host.get_absolute_url}}">
                    {% if user_obj.avatar %}
                        <div class="h-12 w-12 bg-cover rounded-full pl-4" style="background-image: url({{user_obj.avatar.url}});"></div>
                    {% else %}
                        <div class="h-12 w-12  ml-4 bg-gray-600 rounded-full text-white flex justify-center items-center text-2xl">
                            <span>{{room.host.first_name|first}}</span>
                            {% endif %}
                        </div>        
                        <span class="w-full font-extralight mt-3 text-center text-sm text-black">{{room.host.first_name}}&nbsp;{{room.host.last_name}}</span>
                
                </a>
                </div>
            </div>
            <div class="flex mt-8 pb-5 border-b border-gray-300 text-base ">
                <span class="mr-5 font-light">{{room.room_type}}</span>
                <span class="mr-5 font-light">{{room.beds}} Bed{{room.beds|pluralize}}</span>
                <span class="mr-5 font-light">{{room.bedrooms}} Bedroom{{room.bedrooms|pluralize}}</span>
                <span class="mr-5 font-light">{{room.baths}} Bathroom{{room.baths|pluralize}}</span>
                <span class="font-light">{{room.guest}} Guest{{room.guest|pluralize}}</span>
            </div>
            <p class="pt-5 pb-5 border-b border-gray-300 text-base font-extralight">
                {{room.description}}
            </p>
            <div class="mt-8 pb-5 border-b border-gray-300 ">
                <h4 class="font-normal text-lg mb-5 mt-5">Amenities</h4>
                {% for a in room.amenities.all %}
                    <li class="mb-2 pl-6 font-extralight text-normal ">{{a}}</li>
                {% endfor %}
                <h4 class="font-normal text-lg mb-5 mt-5">Facilities</h4>
                {% for f in room.facilities.all %}
                    <li class="mb-2 pl-6 font-extralight text-normal ">{{f}}</li>
                {% endfor %}
                <h4 class="font-normal text-lg mb-5 mt-5">House Rules</h4>
                {% for h in room.house_rules.all %}
                    <li class="mb-2 pl-6 mr font-extralight text-normal ">{{h}}</li>
                {% endfor %}    
            </div>
            <div class=" mt-8 pb-5 border-b border-gray-300 text-lg font-bold">
                <h4 class="font-medium text-xl mb-5">Reviews</h4>
                <div class="flex flex-row text-center">
                    <div>
                        <i class="fas fa-star text-red-500"></i>
                        <span class="font-bold " >{{room.total_rating}}</span>
                    </div>
                    <div class=" h-6 w-px bg-gray-400 ml-4 mr-4"></div>
                    <div>
                        <span class="font-bold text-xl">{{room.reviews.count}}</span>
                        <span class="font-light text-base ">Review{{room.reviews.count|pluralize}}</span> 
                    </div>
                </div>
                <div class="text-sm font-light mt-4 mb-10 ml-10">
                    
                    {% for review in room.reviews.all %}
                    <div class="mt-8 pb-5 border-b border-gray-200">
                        <div class="flex flex-row">
                            <div class="h-10 w-10 bg-gray-600 rounded-full mb-2 text-white flex justify-center items-center text-lg">
                             <span>{{review.user.first_name|first}}</span>   
                            </div>
                            <div class="flex flex-col ml-1 mt-1 ">
                                <span class="font-medium pl-2 ">{{review.user.first_name}}</span>
                                <span class="text-sm text-gray-500 pl-2">{{review.created|date:'F Y'}}</span>
                            </div>
                        </div>
                        <p class="pt-2">{{review.review}}</p>
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
        <div class="w-1/5 ml-24">
            
            {% if room.host == user %}
                <a href="{% url 'rooms:edit' room.pk %}" class="text-center  px-8 py-3 rounded-lg font-light text-lg w-full text-white bg-red-400 hover:bg-red-500 block">Edit Room</a>
            {% else %}
                
                {% if not request.session.is_hosting %}
                    
                    {% for calendar  in room.get_calendars %}
                    <div class="-ml-24 mb-16 text-sm  font-extralight">
                        <span class="text-center font-medium text-base mb-4 block">{{calendar.get_month}} {{calendar.year}}</span>
                        <div class="grid grid-cols-7 gap-10 justify-items-center mb-4">
                            {% for day in calendar.day_names %}
                                <span>{{day}}</span>
                            {% endfor %}
                        </div>
                        <div class="grid grid-cols-7 gap-10 justify-items-center">
                            
                            {% for day  in calendar.get_days %}
                            {% if day.number != 0  %}
                                    
                                    {% if day.past %}
                                        <span class="bg-gray-50 w-10 py-2 rounded-sm shadow-sm text-center ">{{day}}</span>
                                    {% else %}
                                        <span class="bg-gray-200 w-10 py-2 hover:bg-green-300 rounded-sm shadow-md text-center ">{{day}}</span>
                                    {% endif %}
                            {% else %}
                                <span></span>
                            {% endif %}    
                            {% endfor %}
                                
                        </div>
                    </div>
                    {% endfor %}
                           
                {% endif %}
                    

            {% endif %}
                
        </div>
    </div>
{% endblock  %}