<link rel="stylesheet" href="/static/css/styles.css">
 <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
{% extends "base.html" %} 
{% block page_name %} 
    Home 
{% endblock page_name %} 

{%block content %} 
<div class="container mx-auto">
    <div class ="h-3/4 rounded-xl  mt-32 mb-16 bg-gray-800 w-full justify-center bg-inherit bg-bottom" style=" background-size: cover;  background-image: url(/static/img/bg2.jpg);"></div>
    {% for room in rooms %}
    <h3>
        <a href="{% url "rooms:detail" room.pk %}">
            {{room.name}} / ${{room.price}}
        </a>    
    </h3>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5> 
        
</div>
{% endblock content %}