{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"><link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <title>{% block page_name %}{% endblock page_name %} | Airbnb</title>
  </head>
  <body> 
    <header class="max-w-full">
    <div>
      <a href ="{% url "core:home" %}">Airbnb
      <img class="w-8" src="{% static 'img/logo.png' %}" alt="Logo">
      </a>
      {% include "Partials/nav.html" %}
      {% block search-bar %}
        <form method="get" action="{% url "rooms:search" %}" >
          <input name="city" placeholder="Search by City"/>
        </form>
      {% endblock search-bar %}
    </div>
    </header>
    {% block content %}{% endblock %}
    {%include "Partials/footer.html" %}
  </body>
</html>
