{% extends "base.html" %}

{% block search-bar %}
{% endblock search-bar %}

{% block page_name %}
    Reservation|{{reservation.check_in}}
{% endblock page_name %}
  

{% block content %}

    <div class="container w-4/5 border mx-auto my-4 flex flex-col  ">
        <div class="bg-cover bg-center h-96 rounded-b-lg" style="background-image: url({{reservation.room.first_photo}});"></div>
            <div class="flex flex-col">
                <div class="py-8 px-5 text-base font-light ">{{reservation.check_in}} - {{reservation.check_out}} <span class="ml-4 font-semibold {% if reservation.status == 'pending'%} text-yellow-500 {% elif reservation.status == 'cancelled' %} text-red-600 {% else %}text-green-600{%endif%}">{{reservation.get_status_display}}</span></div>
                <span class="container w-full  text-center py-4  border-t font-light text-gray-500"></span>
                <span class="text-lg mb-8 ml-4">
                    {{reservation.room.name}}<br>
                    <span class="text-sm font-light">{{reservation.room.address}}</span><br>
                    <span class="text-sm font-extralight">{{reservation.room.city}},</span>
                    <span class="text-sm font-extralight">{{reservation.room.country}}</span>
                </span>
                <span class="container w-full  text-center py-4  border-t font-light text-gray-500"></span>
                </div>
            <div class=" flex flex-col my-5">
                <div class="ml-12">
                    <div class=" mr-24 ">
                        <a href="{{reservation.room.host.get_absolute_url}}">
                            {% if user_obj.avatar %}
                                <div class="h-12 w-12 mb-2 bg-cover rounded-full pl-4" style="background-image: url({{user_obj.avatar.url}});"></div>
                            {% else %}
                                <div class="h-12 w-12 mb-2  bg-gray-600 rounded-full text-white flex justify-center items-center text-2xl">
                                    <span>{{reservation.room.host.first_name|first}}</span>
                                    {% endif %}
                                </div>        
                                <span class="w-full font-extralight mt-6 -ml-2  text-center text-sm text-black">{{reservation.room.host.first_name}}&nbsp;{{reservation.room.host.last_name}}</span>
                        </a>
                                <div class="my-4 -ml-4  flex flex-row">
                                    <span class="text-gray-500 mb-2 text-base mr-4 font-light">Contact Your Host: </span>
                                    <a href="#" class="block mb-3 -mt-2 -pt-1  pb-3 text-center w-36 bg-green-50 rounded-lg font-light text-sm  text-green-400">Send a Message<i class="fa-solid fa-message ml-2 mt-3"></i></a>
                                </div>
                    </div>
                </div>
                <div class="my-5 mx-4 ">
                    {% if reservation.status == 'pending'  %}
                            <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}" class="block text-center py-2 w-44 rounded-lg font-light text-base  text-white bg-red-500">Cancel Reservation</a>
                            {% endif %}
                            
                        {% if reservation.room.host == user   %}
                            <a href="{% url 'reservations:edit' reservation.pk 'confirm' %}" class="block text-center py-2 w-44 rounded-lg font-light text-base mb4 text-white bg-red-500">Confirm Reservation</a>
                        {% endif %}
                        
                </div>
        </div>
    </div>
{% endblock content %}
    