{% extends "base.html" %}

{% block page_name %}
    Log In
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto flex flex-col items-center border-2 rounded-sm mb-10 p-6 border-gray-300">
        {% include 'Partials/social_login.html' %}
        
        <form method = "POST" action="{% url "users:login" %}" class="w-full">
                {% csrf_token %}
            <input type="email" class="w-full mb-2 border border-gray-200 rounded-md py-5 font-light text-lg text-left px-5 border-solid focus:outline-none focus:border-gray-600" value="{{ form.email.value }}">
            <input type="password" class="w-full mb-2 border border-gray-200 rounded-md py-5 font-light text-lg text-left px-5 border-solid focus:outline-none focus:border-gray-600" value="{{ form.password.value }}">
            <button class="w-full bg-red-400 text-center rounded-md mt-4 mb-4 py-5 font-light text-lg">Login</button>
        </form>
        <div class="mt-4 font-extralight">
            <span>Don't have an account? </span>
            <a href="{% url 'users:signup' %}" class="text-green-300 font-normal">&nbsp;&nbsp;SignUp </a>
        </div>
    </div>
{% endblock content %} 